.landing-page {
  .upcoming-episode {
    width: stretch;
    display: inline-flex;
    background: inherit;
    position: absolute;
    height: 4em;
    margin-left: 15vw;
    margin-right: 15vw;
    left: 0;
    color: ghostwhite;
    z-index: 1;
    bottom: 1.5em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
    border-radius: 5px;
    
    &:before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: blur(15px);
    }

    @media (max-width: 1000px) {
      margin: 4%;
      min-height: 5em;
      margin-bottom: 2%;
    }

    .logo {
      background-color: orange;
      height: 4em;
      left: 0;
      min-width: 4em;
      display:none;

      @media (max-width: 1000px) {
        display: none;
      }
    }

    .remainder {
      display: inline;
      width: stretch;
      font-size: 12pt;
      position: relative;

      @media (max-width: 1000px) {
        font-size: 12pt;
      }
      @media (max-width: 600px) {
        font-size: 10pt;
      }

      .title-bar {
        font-size: 18pt;
        font-weight: bold;
        padding: 0.5em;

        @media (max-width: 600px) {
          font-size: 14pt;
        }
      }

      .at-a-glance {
        font-style: italic;

        @media (max-width: 1000px) {
          position: absolute;
          vertical-align: middle;
          text-align: center;
          top:50%;
          width: stretch;
          transform: translate(0, -50%);
          padding-left: 2vw;
          padding-right: 2vw;
        }
      }

      .controls {
        position: absolute;
        text-decoration: underline;
        width: stretch;
        justify-content: center;
        bottom: 1em;
        display: flex;
        text-align: center;

        @media (max-width: 1000px) {
          padding: 0;
        }

        a {
          margin-right: 1em;
          margin-left: 1em;
          
          &:hover {
            cursor: pointer;
            color: #dedede;
          }
        }
      }
    }
  }
}
