.character-list {
  .list-title {
    margin-bottom: 1em;
  }

  .character-viewer {
    font-size: 14pt;
    background: #1b1b1b;
    color: white;
    min-height: 96px;
    max-width: 40em;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 0.5em;

    @media(max-width: 1000px) {
      min-height: 64px;
    }

    .icon {
      min-width: 96px;
      min-height: 96px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: left;

      @media(max-width: 1000px) {
        min-width: 64px;
        min-height: 64px;
      }
    }

    .primary {
      min-height: 64px;

      @media(max-width: 1000px) {
        min-height: 64px;
      }

      .inner {
        padding-top: 0.9em;

        @media(max-width: 1000px) {
          padding-top: 0.8em;
          font-size: 10pt;
        }

        .name {
          font-size: 20pt;

          @media(max-width: 1000px){ 
            font-size: 14pt;
          }
        }
      }
    }
  }
}
